@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .social-Networks-Links {
    @apply max-w-8;
  }

  .max-section-screen {
    @apply max-w-screen-xl;
  }

  .animate {
    @apply hover:scale-110 transition-transform duration-300;
  }

  .sectionSpacing{
    @apply py-32
  }
}

/* Loader animation */

@keyframes spinStop {
  0% {
    transform: rotate(0deg); /* Начальная позиция */
  }
  25% {
    transform: rotate(90deg); /* Поворот на 90° */
  }
  50% {
    transform: rotate(180deg); /* Поворот на 180° */
  }
  75% {
    transform: rotate(270deg); /* Поворот на 270° */
  }
  100% {
    transform: rotate(360deg); /* Поворот на 360° */
  }
}

.animate-spin-stop {
  animation: spinStop 2s ease-in-out infinite; /* Анимация с плавной остановкой */
}


.slider-custom {
  -webkit-appearance: none;
  width: 100%;
  background: #e0e0e0;
  height: 6px;
  border-radius: 4px;
  outline: none;
  position: relative;
}

.slider-custom::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: url("./src/assets/icons/LogoIcon.png") no-repeat center;
  background-size: contain;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
}

.slider-custom::-moz-range-thumb {
  background: url("./src/assets/icons/LogoIcon.png") no-repeat center;
  background-size: contain;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
}

